**/.DS_Store
**/.dart_tool/
**/.idea/
ios/.generated/
/example/test/
/example/windows/
/example/linux/
/example/macos/
**/Pods/
**/pubspec.lock
.flutter-plugins-dependencies
flutter_export_environment.sh
**/.symlinks
**/Flutter/
**/Podfile
**/Podfile.lock
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m
