**/.DS_Store
**/.dart_tool/
**/.idea/
**/build/
**/Pods/
**/pubspec.lock
/android/.gradle
/android/.idea
/example/test/
/example/android/
/example/web/
/example/ios/
/example/windows/
/example/linux/
/example/macos/
/example/.flutter-plugins
/example/.flutter-plugins-dependencies
