**/.DS_Store
**/.dart_tool/
**/.idea/
**/build/
/ios/.generated/
**/Pods/
**/pubspec.lock
/example/test/
/example/android/
/example/web/
/example/ios/
/example/windows/
/example/linux/
/example/macos/


